<div class="wrapper ">
     <!-- Sidebar  -->
     <nav id="sidebar" class="sidebarnav" [ngClass]="{ active: ativaMenu, ativa: ativaSidebar, hidden: hiddenMenu }">
          <div class="sidebar-header">
               <h3>Bootstrap Sidebar</h3>
               <strong>BS</strong>
          </div>

          <ul class="list-unstyled components ">

               <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                         <i class="fas fa-home"></i>
                         Home
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                         <li>
                              <a href="#">Home 1</a>
                         </li>
                         <li>
                              <a href="#">Home 2</a>
                         </li>
                         <li>
                              <a href="#">Home 3</a>
                         </li>
                    </ul>
               </li>
               <li>
                    <a href="#">
                         <i class="fas fa-briefcase"></i>
                         About
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                         <i class="fas fa-copy"></i>
                         Pages
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                         <li>
                              <a href="#">Page 1</a>
                         </li>
                         <li>
                              <a href="#">Page 2</a>
                         </li>
                         <li>
                              <a href="#">Page 3</a>
                         </li>
                    </ul>
               </li>
               <li>
                    <a href="#">
                         <i class="fas"></i>
                         Portfolio
                    </a>
               </li>
               <li>
                    <a href="#">
                         <i class="fas"></i>
                         FAQ
                    </a>
               </li>
               <li>
                    <a href="#">
                         <i class="fas"></i>
                         Contact
                    </a>
               </li>
               <li class="arrow_menus">
                    <i id="arrow_hide" class="material-icons" (click)="activateToogle()">keyboard_arrow_left</i>
                    <i id="arrow_open" class="material-icons" (click)="activateToogle()">keyboard_arrow_right</i>   
               </li>
          </ul>
     </nav>

     <!-- Page Content  -->
     <div class="container-fluid" style="padding: 0;">
          <div class="uk-navbar-container" uk-navbar>
               <div class="uk-navbar-left">
                    <button type="button" id="menu_mobile" class="uk-navbar-toggle" uk-navbar-toggle-icon (click)="activateSidebar()">
                    </button>
               </div>
           </div>
          <div id="content">
               <ng-content ></ng-content>
          </div>
     </div>
</div>